{% extends 'homePageAdmin.html' %}

{% block content %}
<div class="contenido_home">
    <h2>Acerca de nosotros</h2>
    <br>
    <div class="row">
        <div class="col-lg-6">
          <img src="https://scontent.fjal2-1.fna.fbcdn.net/v/t39.30808-6/311593642_5248050278636789_5901685419329082760_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHExe5Ncgwt7A1-g1kpiVjgX0YuvNnI83VfRi682cjzdRU8LnJ2E96xT0caOhe-OhNzBpe3Pv_HTvxrr9GxFHOU&_nc_ohc=m9MJQ0693TIAX9tWjPW&_nc_ht=scontent.fjal2-1.fna&oh=00_AT-ql_Vq7ylNGaCeJol8BmY_ojAWBObYfdicHtruWQbFNA&oe=63565E3D" style="border-radius: 20px; width:150px;">
  
          <h2 class="fw-normal">Itzae Rivera</h2>
          <p>Nacionalidad: Mexicana</p>
          <p>Tengo 25 años y soy Licenciada en Sistemas Computacionales Administrativos, actualmente trabajo en el desarrollo web enfocado a la gestión escolar y dando mantenimiento y soporte técnico. <br>Lo que me motivó a tomar este curso fue el poder desarrollarme profesionalmente en el área del desarrollo de software.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  
          
          <h2 class="fw-normal">Jeremías</h2>
          <p>Soy jeremias, tengo 35 años, soy Paramedico y trabajo en el rubro de la salud hace 15 años, los lenguajes de programacion siempre me llamaron la atencion y ahora dispongo del tiempo para entrar en este maravilloso mundo, siendo python mi primer acercamiento con la programacion.</p>
        </div><!-- /.col-lg-4 -->
      </div>



</div>

{% endblock %}